/*SERVIÇOS*/
.album {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.album h3 {
    font-family: 'Lato', sans-serif;
    padding: 1%;
    font-size: 1.5em;
    color: #4F4F5C;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.album a {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: #4F4F5C;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);   
}
.album li {
    width: 95%;
    height: 95%;
    margin: 3% 3%;
    list-style: none;
    border-radius: 3%; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);   
}
.album li span {
    opacity: 0;
    color: #fff;
    line-height: 300px;
}

.album li#foto1 {
    background: url(../img/_obrafreg/01.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
} 
.album li#foto2 {
    background: url(../img/_obrafreg/02.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}  
.album li#foto3 {
    background: url(../img/_obrafreg/03.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto4 {
    background: url(../img/_obrafreg/04.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto5 {
    background: url(../img/_obrafreg/05.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto6 {
    background: url(../img/_obrafreg/06.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto7 {
    background: url(../img/_obrafreg/07.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto8 {
    background: url(../img/_obrafreg/08.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto9 {
    background: url(../img/_obrafreg/09.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto10 {
    background: url(../img/_obrafreg/10.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto11 {
    background: url(../img/_obrafreg/11.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
} 
.album li#foto12 {
    background: url(../img/_obrafreg/12.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}  
.album li#foto13 {
    background: url(../img/_obrafreg/13.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto14 {
    background: url(../img/_obrafreg/14.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto15 {
    background: url(../img/_obrafreg/15.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto16 {
    background: url(../img/_obrafreg/16.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto17 {
    background: url(../img/_obrafreg/17.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto18 {
    background: url(../img/_obrafreg/18.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto19 {
    background: url(../img/_obrafreg/19.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto20 {
    background: url(../img/_obrafreg/20.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto21 {
    background: url(../img/_obrafreg/21.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto22 {
    background: url(../img/_obrafreg/22.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto23 {
    background: url(../img/_obrafreg/23.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-color: #fff;
}
.album li#foto24 {
    background: url(../img/_obrafreg/24.jpeg) no-repeat;
    background-size: 100%;
    background-color: #fff;
}




/*MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
    .album {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 10px 5px 60px 5px;
        overflow: hidden;
    }
    .album h3 {
        font-family: 'Lato',  sans-serif;
        font-weight: 400;
        font-size: 2em;
        color: #4F4F5C;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        padding: 1%;
    }
    .album li {
        width: 18%;
        list-style: none;
        border-radius: 3%; 
        box-shadow: 2px 2px 10px rgba(0,0,0,0.7); 
        display: inline-block;  
        cursor: pointer;
    }
    .album li span {
        opacity: 0;
        line-height: 200px;
    }
    .album li:hover {
        transform: scale(2);
        transition: all 0.4s ease-in;
    }
        
}